<%- include('./cabecalho.ejs') %>

<!-- food section -->
<section class="layout">
  <div class="container">
    <div class="cabecalho">
    </div>
    <div class="page-wrapper bg-dark p-t-100 p-b-50">
      <div class="wrapper wrapper--w900">
        <div class="card card-6">
          <div class="card-heading">
            <h2 class="title">Editar no cardápio</h2>
          </div>
          <div class="card-body" style="display:flex; flex-direction: column; align-items: center;">
            <form id="demo-form2" method="post" enctype="multipart/form-data" data-parsley-validate
              class="form-horizontal form-label-left" action="/edtsalvar/<%= Cardapio.id %>">
              <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                  <img class="img-circle img-fluid" id="blah" src="/images/<%= Cardapio.foto %>"
                    alt="your image" style="max-width: 100%;" />
                </label>
                <div class="col-md-9 col-sm-9">
                  <input type="file" id="fotoupload" class="form-control-file" name="foto">
                </div>
              </div>
              <div class="form-row">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Titulo
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9">
                  <textarea class="textarea--style-6" required="required" name="titulo"><%= Cardapio.titulo %></textarea>
                </div>
              </div>
              <div class="form-row">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Descrição
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9">
                  <textarea class="textarea--style-6" required="required" name="descricao"><%= Cardapio.descricao %></textarea>
                </div>
              </div>
              <div class="form-row">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Selecionar categoria
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9">
                  <select name="tipo" id="cars">
                    <option value="hamburguer" <% if (Cardapio.tipo === 'hamburguer') { %>selected<% } %>>Hamburguer</option>
                    <option value="porções" <% if (Cardapio.tipo === 'porções') { %>selected<% } %>>Porções</option>
                    <option value="bebidas" <% if (Cardapio.tipo === 'bebidas') { %>selected<% } %>>Bebidas</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Promoção?</label>
                  <div class="col-md-9 col-sm-9">
                    <input type="radio" name="promocao" value="sim"> Sim
                    <input type="radio" name="promocao" value="nao"> Não

                  </div>
              </div>
              <div class="form-row">
                <div id="divPromocao" style="display: none;">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Valor da promoção</label>
                  <input type="number" class="textarea--style-6" required="required" name="valorpromocao">
                </div>
              </div>
              <div class="form-row">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Valor R$
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9">
                  <input type="number" class="textarea--style-6" required="required" name="valor" value="<%= Cardapio.valor %>">
                </div>
              </div>
              </div>
              

              <div class="ln_solid"></div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                  <input type="submit" class="btn btn-success" value="Enviar">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  textarea.textarea--style-6 {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  input[type="number"].input--style-6 {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    -moz-appearance: textfield; /* Remover as setas no Firefox */
  }

  input[type="number"].input--style-6::-webkit-inner-spin-button,
  input[type="number"].input--style-6::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remover as setas no Chrome e Safari */
    margin: 0;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var promocaoRadio = document.querySelector('input[name="promocao"]');
    var divPromocao = document.getElementById('divPromocao');
    var form = document.getElementById('demo-form2');
    var enviarButton = document.querySelector('.btn.btn-success');

    promocaoRadio.addEventListener('change', function() {
      divPromocao.style.display = this.value === 'sim' ? 'block' : 'none';
    });

    enviarButton.addEventListener('click', function(event) {
      if (!promocaoRadio.checked) {
        promocaoRadio.value = 'nao';
      }
      form.submit();
    });
  });
</script>



<%- include('./rodape.ejs') %>
