<%-include('./cabecalho.ejs')%>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Meu Carrinho
        </h2>
      </div>
      <table>
        <thead>
          <tr>
            <th>Carrinho</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <div>
          <form id="demo-form2" method="post" data-parsley-validate
          class="form-horizontal form-label-left">
            <table id="customers">
              <tr>
                <th>Item</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th></th>
              </tr>
              <%Cardapio.forEach(function(cardapio){%>
              <tr>
                <td name="idpedido"><%=cardapio.titulo%></td>
                <input type="hidden" name="idpedido"
                  min="1" max="100" value="<%=cardapio.id%>">
                <td name="valordoitem" >R$ <%=cardapio.valor%></td>
                <input type="hidden"name="valorpedido"
                  min="1" max="100" value="<%=cardapio.valor%>">
                <td><input type="number"  value="1" name="quantidade"
                  min="1" max="100"></td>
                <td>
                  <a href="" class="user_link">
                      <i class="fa fa-trash can" aria-hidden="true"></i>
                    </a>
                  </td>
              </tr>
            <%})%>
            </table>
         </div>
        </tbody>
      </table>  
      </div>
      <div class="btn-box">
         <input type="submit" class="btn btn-success" href="/meuspedidos" value="Confirmar">
      </div>
    </form>
    </div>
  </section>

  <!-- end food section -->

  <%-include('./rodape.ejs')%>
 