<%-include('./cabecalho.ejs')%>

<!-- food section -->

<section class="food_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Meus Pedidos</h2>
    </div>

    <div class="filters-content">
      <div class="row grid">
        <%Pedidos.forEach(function(pedido){%>
        <div class="col-sm-6 col-lg-4 all pizza">
       
            <div>
              <div class="pedido">
                <h5 class="data-pedido"><%=pedido.datapedido%></h5>
                <p class="item-pedido">
                  <%pedido.Itens.forEach(function(item){%> <%=item.quantidade%> x <%=item.Cardapio.titulo%>
                  <br />

                  <%})%>
                </p>
                <div class="valor-pedido">
                  <h6 class="valor total">
                    Total R$: <%=pedido.valortotal%> <br />
                  </h6>
                  <h1 class="situacao-pedido"><%=pedido.situacao%></h1>
                </div>
              </div>
            </div>
          
        </div>
        <%})%>
      </div>
    </div>
    <div class="btn-box">
      <a href=""> Inicio </a>
    </div>
  </div>
</section>

<!-- end food section -->

<%-include('./rodape.ejs')%>
